astro-sdk-python[amazon,databricks,duckdb,google,postgres,snowflake]==1.5.3

apache-airflow-providers-microsoft-azure==6.3.0
apache-airflow-providers-snowflake==5.3.0
pendulum==2.1.2
apache-airflow-providers-microsoft-mssql==3.6.0